name: Build-RawMouse
on: [push]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Theos
        run: |
          bash -c "$(curl -fsSL https://raw.githubusercontent.com/theos/theos/master/bin/install-theos)"
          echo "THEOS=~/theos" >> $GITHUB_ENV
      - name: Build
        run: |
          export THEOS=~/theos
          make package FINALPACKAGE=1
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: Driver-Instalador
          path: packages/*.deb
